{% extends "base.html" %} {% block content4 %} 
<div class="content">
    <!-- nav bar -->
    <div>
        <nav class="section-box-horizontal">
            <div class="navbar-item center border-rad">
                <a class="navlink fontsize1" href="/">Carbon Emission Calculator</a>
            </div>
            <div class="navbar-item center border-rad">
                <a class="navlink fontsize1" href="">Individual Contribution</a>
            </div>
            <div class="navbar-item center border-rad">
                <a class="navlink fontsize1" href="/volunteer">Volunteer and Petition</a>
            </div>
        </nav>
    </div>
    <!-- image 1 slide -->
    <div class="section-box-horizontal">
        <div style="width:50%; height: 300px;" class="image1"> 
        </div>
        <div style="width:48%; height: 300px;" class="center"> 
            <h2 class="fontsize3 bold">Help out in your community</h2>
        </div>
    </div>
    <br>
    <!-- learn about carbon emissions -->
    <br>
    <form class="row g-3" id="volunteer-form">
        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Email</label>
          <input type="email" class="form-control" id="inputEmail4">
        </div>
        <div class="col-md-6">
          <label for="inputPhoneNumber" class="form-label">Phone Number</label>
          <input type="number" class="form-control" id="inputPhoneNumber">
        </div>
        <div class="col-12">
          <label for="inputAddress" class="form-label">Address</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
        </div>
        <div class="col-12">
          <label for="inputBody" class="form-label">Description</label>
          <textarea class="form-control" id="inputBody" rows="3" placeholder="describe what volunteers will be doing"></textarea>
        </div>
        <div class="col-md-6">
          <label for="inputDate" class="form-label">Date</label>
          <input type="text" class="form-control" id="inputDate">
        </div>
        <div class="col-md-4">
          <label for="inputTime" class="form-label">Time</label>
          <input type="text" class="form-control" id="inputTime">
        </div>
        <div class="col-md-2">
            <label for="inputVolunteers" class="form-label">Max Volunters</label>
            <input type="number" class="form-control" id="inputVolunteers">
          </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
      </form>

</div>

{% endblock %}