{% extends "base.html" %}
{% block content %}
<div>
    <div class ="section-box-horizontal">
        <div class="navbar-item"><a class="navlink" href="">Homepage</a></div>
        <div class="navbar-item"><a class="navlink" href="">Individual Contribution</a></div>
        <div class="navbar-item"><a class="navlink" href="">Volunteering & Petition </a></div>
    </div>
    
    <br>
    <div class="section-box-horizontal info">
        <div>
            <h2>Calculate your Total</h2>
        </div>
        <div>
            <form action="">
                <label for="zip">Enter Zip Code</label>
                <input name="zip" id-"zip" type="text">
            </form>
        </div>
    </div>
    <div class="section-box adding">
        <h2>+</h2>
    </div>
</div>
<script>

</script>
<style>
    .section-box-horizontal{
        position: absolute;
        height: 50px;
        width: 800px;
        z-index: 1;

    }

</style>
{% endblock %}