{% extends "base.html" %}
{% block content %}

<div class="content">
    <!-- nav bar -->
    <div>
        <nav class="section-box-horizontal">
            <div class="navbar-item center border-rad">
                <a class="navlink fontsize1" href="/">Carbon Emission Calculator</a>
            </div>
            <div class="navbar-item center border-rad">
                <a class="navlink fontsize1" href="/contributions">Individual Contribution</a>
            </div>
            <div class="navbar-item center border-rad">
                <a class="navlink fontsize1" href="volunteer">Volunteer and Petition</a>
            </div>
        </nav>
    </div>
    <br>
    <!-- header -->
    <div class="section-box">
        <h2 class="fontsize3 bold">Average Carbon Emissions in San Jose</h2>
    </div>
    <!-- graph -->
    <div class="center">
        <canvas id="myChart"></canvas>
      </div>
      
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      
      <script>
        const ctx = document.getElementById('myChart');
    
        const options = {
            plugins: {
                colors: {
                    enabled: true
                }
            }
        }
      
        new Chart(ctx, {
          type: 'line',
          data: {
            labels: ['April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December', 'January', 'February',
        'March'],
            datasets: [{
              fill: true,
              label: 'Pounds Per Year',
              data: [16000, 17500, 18000, 18245, 19000, 20000, 19784, 18500, 17203, 15389, 14938, 13043],
              borderColor: '#a798e3',
              borderWidth: 1
            }]
          },
          options: {
            scales: {
                x: {
                    grid: {
                        drawOnChartArea: false
                    }
                },
                y: {
                    beginAtZero: true,
                    grid: {
                        drawOnChartArea: false
                    }
              }
            }
          }
        });
      </script>
      
      

    <!-- image 1 slide -->
    <br>
    <br>
    <div class="section-box-horizontal">
        <div style="width:48%; height: 300px;" class="center"> 
            <h2 class="fontsize3 bold">Calculate your Carbon Emissions</h2>
        </div>
        <div style="width:50%; height: 300px;" class="image1"> 
        </div>
    </div>
    <br>
    <!-- learn about carbon emissions -->
    <div style="height: 200px; background-color: black; color:white;" class="section-box">
        <h2 class="fontsize2 bold">Learn about how you can reduce your carbon emissions.</h2>
    </div>
    <br>
    <!-- image 2 slide -->
    <div class="section-box-horizontal">
        <div style="width:50%; height: 650px;" class="image2"> 
        </div>
        <div style="width:50%; height: 650px;" class="section-box"> 
            <h2 class="fontsize3 bold">What is a Carbon Footprint?</h2>
            <h2 class="fontsize2">A carbon footprint is the total amount of greenhouse gases (including carbon dioxide and methane) that are generated by our actions.
                
                Lowering individual carbon footprints from 16 tons to 2 tons doesn’t happen overnight! By making small changes to our actions, like eating less meat, taking fewer connecting flights and line drying our clothes, we can start making a big difference.</h2>
        </div>
    </div>
    <br>
    <div class="section-box" style="height: 200px; background-color: rgb(19, 104, 26); color:rgb(255, 255, 255);">
        <h2 class="font3">Based on this simple survey of your lifestyle, we can estimate your carbon emissions.</h2>
    </div>
    <br>
    <!-- carbon emissions zip code -->
    <div class="section-box-horizontal info center">
        <div class="divleft">
            <h2 class="fontsize2 bold">Calculate your Total</h2>
        </div>
        <div class="rightspace"></div>
        <div>
            <form class="divright center" action="">
                <label for="zip" class="fontsize2">Enter Zip Code</label>
                <div style="width:15px"></div>
                <input class="zip-input" name="zip" id-"zip" type="text">
            </form>
        </div>
    </div>
    <br>
    <!-- carbon emissions form -->
    <form id="carbon-select" action="">
        <div id="oil-emm">
            <div class="section-box-horizontal adding right center">
                <h2 class="divleft">Monthly Oil Bill</h2>
                <div style="width:15px"></div>
                <input class="form-input" id="oil-inp" type="number">
            </div>
        </div>
        <div id="electric-emm">
            <div class="section-box-horizontal adding right center">
                <h2 class="divleft">Monthly Electricity Bill</h2>
                <div style="width:15px"></div>
                <input class="form-input" id="electric-inp" type="number">
            </div>
        </div>
        <div id="gas-emm">
            <div class="section-box-horizontal adding right center">
                <h2 class="divleft">Monthly Gas Bill</h2>
                <div style="width:15px"></div>
                <input class="form-input" id="gas-inp" type="number">
            </div>
        </div>
        <div id="mileage-emm">
            <div class="section-box-horizontal adding right center">
                <h2 class="divleft">Yearly Milage</h2>
                <div style="width:15px"></div>
                <input class="form-input" id="mileage-inp" type="number">
            </div>
        </div>
        <div id="paper-emm">
            <div class="section-box-horizontal adding right center">
                <h2 class="divleft">Do you recycle paper?</h2>
                <div style="width:15px"></div>
                <input class="border-rad radio-input" type="radio" id="true1" name="paper" value="true" checked> 
                <label style="padding: 5px 2% 0px 2%;" class='fontsize1' for="true1">Yes</label>
                <input class="border-rad radio-input" type="radio" id="false1" name="paper" value="false">
                <label style="padding: 1px 2% 0px 2%;" class='fontsize1' for="false1">No</label>
            </div>
        </div>
        <div id="aluminum-emm">
            <div class="section-box-horizontal adding center">
                <h2 class="divleft">Do you recycle aluminum?</h2>
                <div style="width:15px"></div>
                <input class="border-rad radio-input" type="radio" id="true" name="aluminum" value="true" checked> 
                <label style="padding: 5px 2% 0px 2%;" class='fontsize1' for="true">Yes</label>
                <input class="border-rad radio-input " type="radio" id="false" name="aluminum" value="false">
                <label style="padding: 1px 2% 0px 2%;" class='fontsize1' for="false">No</label>
            </div>
        </div>
        <div id="email">
            <div class="section-box-horizontal adding right center">
                <h2 class="divleft">Enter Email</h2>
                <div style="width:15px"></div>
                <input class="form-input" id="email" type="email">
            </div>
        </div>
        <!-- submit -->
        <div class="section-box-horizontal adding">
            <button class="button" type="submit">Submit</button>
        </div>
    </form>
    <br>
    <!-- total -->
    <div class="section-box-horizontal center">
        <h2 class="fontsize2 bold">TOTAL: </h2>
        <h2 class="fontsize2" id="total"></h2>
    </div>
    <br>
    <br>
    <br>

</div>
  

 <script>
    class Calculator {
        constructor(electric_bill, gas_bill, oil_bill, yearly_mileage, paper_recycle=true, aluminum_tin_recycle=true) {
            this.electric_bill = electric_bill;
            this.gas_bill = gas_bill;
            this.oil_bill = oil_bill;
            this.yearly_mileage = yearly_mileage;
            this.paper_recycle = paper_recycle;
            this.aluminum_tin_recycle = aluminum_tin_recycle;
        }
    
        getElectricBill() {
            return this.electric_bill*105;
        }
    
        getGasBill() {
            return this.gas_bill*105;
        }
    
        getOilBill() {
            return this.oil_bill*113;
        }
        
        getYearlyMileage() {
            return this.yearly_mileage*0.79;
        }
    
        getNewspaperRecycle() {
            return this.paper_recycle;        
        }
    
        getAluminumTinRecycle() {
            return this.aluminum_tin_recycle;
        }
    
        Calculate() {
            let totalNum = this.electric_bill * 105
            totalNum += this.gas_bill * 105
            totalNum += this.oil_bill * 113
            totalNum += this.yearly_mileage * 0.79
            if (this.paper_recycle == false) {
                totalNum += 184;
            }
            if (this.aluminum_tin_recycle == false) {
                totalNum += 166;
            }
            return totalNum;
        }
    }

    
  </script>

  <script>
    // var x = false;
    // var emails = JSON.parse(localStorage.getItem("email_list")) ? JSON.parse(localStorage.getItem("email_list")) : []
    // var list_of_dates = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
    // months = ['April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December', 'January', 'February', 'March'];
    let f = document.getElementById("carbon-select")
    f.addEventListener("submit", (e) => {
        e.preventDefault();

        const dict = {"electric": document.getElementById("electric-inp").value,
        "gas": document.getElementById("gas-inp").value,
        "oil": document.getElementById("oil-inp").value, 
        "mileage": document.getElementById("mileage-inp").value,}

        let c = new Calculator(dict["electric"], dict["gas"], dict["oil"], dict["mileage"],)
        document.getElementById("total").innerHTML = c.Calculate() + " pounds of CO2"
    })
        // let date = Date.now();
        // list_of_dates.push(date);
        // if (list_of_dates.length > 12) {
        //     delete list_of_dates[0];
        //     let new_month = months.splice(0,1);
        //     months.push(new_month);
        // }
        // if (!emails.includes(dict["email"])) {
        //     emails.push(email);
        // }
        // localStorage.setItem("months", JSON.stringify(months));
        // localStorage.setItem("email", JSON.stringify(emails));
        // localStorage.setItem("date_list", JSON.stringify(list_of_dates));
        // let p_list = JSON.parse(localStorage.getItem("date_list"));
        // let c = new Calculator(dict["electric"], dict["gas"], dict["oil"], dict["mileage"], dict["paper"], dict["aluminum"]);
        // if(x == true){
        //     x += c.Calculate();
        // } else {
        //     x = c.Calculate();
        // }
        // localStorage.setItem(p_list[p_list.length-1] + "total" + dict["email"], c.Calculate())
        // document.getElementById("total").innerHTML = localStorage.getItem(p_list[p_list.length-1] + "total" + dict["email"], c.Calculate())
        // for (let i=0; i < p_list.length; i++) {
        //     let avg_emm = [];
        //     let x = 0;
        //     for (let j = 0; j < emails.length; i++) {
        //         x = localStorage.getItem(p_list[i]+"total"+emails[j]) + x;
        //     }
        //     x = x/emails.length;
        //     avg_emm.push(x);
        //     localStorage.setItem(p_list[i]+" avg_values", JSON.stringify(avg_emm))
        // }

        // const ctx = document.getElementById('myChart');

        // const options = {
        //     plugins: {
        //         colors: {
        //             enabled: true
        //         }
        //     }
        // }
        
        // new Chart(ctx, {
        // type: 'line',
        // data: {
        //     labels: [months[0], months[1], months[2], months[3], months[4], months[5], months[6], months[7], months[8], months[9], months[10],
        //     months[11]],
        //     datasets: [{
        //     fill: true,
        //     label: 'Pounds Per Year',
        //     data: [localStorage.setItem(p_list[0]+" avg_values", JSON.stringify(avg_emm)),
        //     localStorage.setItem(p_list[1]+" avg_values", JSON.stringify(avg_emm)),
        //     localStorage.setItem(p_list[2]+" avg_values", JSON.stringify(avg_emm)),
        //     localStorage.setItem(p_list[3]+" avg_values", JSON.stringify(avg_emm)),
        //     localStorage.setItem(p_list[4]+" avg_values", JSON.stringify(avg_emm)),
        //     localStorage.setItem(p_list[5]+" avg_values", JSON.stringify(avg_emm)),
        //     localStorage.setItem(p_list[6]+" avg_values", JSON.stringify(avg_emm)),
        //     localStorage.setItem(p_list[7]+" avg_values", JSON.stringify(avg_emm)),
        //     localStorage.setItem(p_list[8]+" avg_values", JSON.stringify(avg_emm)),
        //     localStorage.setItem(p_list[9]+" avg_values", JSON.stringify(avg_emm)),
        //     localStorage.setItem(p_list[10]+" avg_values", JSON.stringify(avg_emm)),
        //     localStorage.setItem(p_list[11]+" avg_values", JSON.stringify(avg_emm))],
        //     borderColor: '#a798e3',
        //     borderWidth: 1
        //     }]
        // },
        // options: {
        //     scales: {
        //         x: {
        //             grid: {
        //                 drawOnChartArea: false
        //             }
        //         },
        //         y: {
        //             beginAtZero: true,
        //             grid: {
        //                 drawOnChartArea: false
        //             }
        //     }
        //     }
        // }
        // });
        // })
</script>

 
{% endblock %}